body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

.image{
    position: relative;
    flex-direction: column;
    color: white;
}

.cat {
    width: 640px;
    height: 950px;
}

.odin-logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 60%);
    top: 100px;
    width: 100%;
    font-family: 'Norse', serif;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.odin {
    width: 5rem;
}

.image p {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

a {
    color: white;
}

.signup-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding-left: 3em;
    width: 65%;
    font-size: 1.5rem;
    font-weight: bolder;
}

.form-section {
    box-shadow: 10px 5px 5px 5px lightgray;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 4em;
}

.form-section p{
    font-weight: bolder;
    font-size: x-large;
}

form {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-top: 15px;
    width: 50%;
}

input {
    width: 60%;
    border-radius: 0.5em;
    height: 1.5rem;
}

input:focus {
    box-shadow: 5px 5px 5px gray;
}

button {
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 15px 3em 15px 3em;
    border-radius: 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.log-in {
    display: flex;
    gap: 5px;
}

.log-in p{
    font-size: large;
}

.log-in a {
    font-size: large;
    font-weight: bolder;
    color: #596D48;
    text-decoration: none;
    padding-top: 1em;
}